.copyright {
  margin-top: $mobile-width * 0.03 + px;
  color: #44474B;
  font-size: $mobile-width * 0.015 + px;
}

@media (min-width: $mobile-width + px) {
  .copyright {
    font-size: 1.5vw;
  }
}

@media (min-width: $desktop-width + px) {
  .copyright {
    font-size: $desktop-width * 0.015 + px;
  }
}
