.plugboard {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: $mobile-width * 0.05 + px;

  &__row {
    display: flex;
    justify-content: space-between;

    &:nth-of-type(2n + 1) {
      padding: 0 $mobile-width * 0.05 + px;
    }

    &:nth-of-type(2) {
      padding: 0 $mobile-width * 0.105 + px;
    }
  }

  &__plug {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    font-size: $mobile-width * 0.025 + px;
    line-height: $mobile-width * 0.025 + px;
    text-transform: uppercase;
    background-color: #4b5358;
    border-radius: $mobile-width * 0.036 + 1 + px;
    transform: translate(-1px, -1px);

    &:hover,
    &:focus {
      background-color: rgba(#4b5358, 0.8);
    }
  }

  &__socket {
    position: relative;
    width: $mobile-width * 0.036 + px;
    height: $mobile-width * 0.07 + px;
    cursor: pointer;

    span {
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      color: #fff;
      font-size: $mobile-width * 0.03 + px;
      line-height: $mobile-width * 0.035 + px;
      font-weight: 400;
      text-align: center;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 50%;
      background: #090a0c;
      border: $mobile-width * 0.007 + px solid #f1f1fc;
      border-radius: 50%;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
      border-color: #6b7076;
    }

    &:focus .plugboard__plug {
      background-color: rgba(#4b5358, 0.8);
    }
  }
}

@media (min-width: ($mobile-width + px)) {
  .plugboard {
    padding-top: 5vw;

    &__row {
      &:nth-of-type(2n + 1) {
        padding: 0 5vw;
      }

      &:nth-of-type(2) {
        padding: 0 10.5vw;
      }
    }

    &__socket {
      width: 3.6vw;
      height: 7vw;

      span {
        font-size: 3vw;
        line-height: 3.5vw;
      }

      &::before,
      &::after {
        border-width: 0.7vw;
      }
    }

    &__plug {
      font-size: 2.5vw;
      line-height: 2.5vw;
      border-radius: calc(3.6vw + 1px);
    }
  }
}

@media (min-width: ($desktop-width + px)) {
  .plugboard {
    width: $desktop-width + px;
    margin: 0 auto;
    padding-top: $desktop-width * 0.05 + px;

    &__row {
      &:nth-of-type(2n + 1) {
        padding: 0 $desktop-width * 0.05 + px;
      }

      &:nth-of-type(2) {
        padding: 0 $desktop-width * 0.105 + px;
      }
    }

    &__socket {
      width: $desktop-width * 0.036 + px;
      height: $desktop-width * 0.07 + px;

      span {
        font-size: $desktop-width * 0.03 + px;
        line-height: $desktop-width * 0.035 + px;
      }

      &::before,
      &::after {
        border-width: 0.007 * $desktop-width + px;
      }
    }

    &__plug {
      font-size: $desktop-width * 0.025 + px;
      line-height: $desktop-width * 0.025 + px;
      border-radius: $desktop-width * 0.036 + 1 px;
    }
  }
}
